body{
  background-color: rgba(39, 40, 34, 1);
}
.title{
  color: #fff;
}
.createForm {
  position: fixed;

}
.monospace{
  font-family: monospace;
}
.editSnippetButton{
  margin-top: 30px;
}
.snippetContainer{
  width: 500px;
  border: 1px solid red;
}

.sideEditor .CodeMirror{
  height:100px;
}

.editor{
  margin-top: 30px;
}
.formSelect{
  margin-top: 20px;
}
.formButton{
  margin-top:45px;
}
.marginTop{
  margin-top: 20px;
}
.marginBottom{
  margin-bottom:30px;
}
.javascript{
  background-color:yellow;
  color:rgba(39, 40, 34, 1);
}
.ruby{
  background-color:red;
  color:rgba(39, 40, 34, 1);
}
.markdown{
  background-color:green;
}
.xml{
  background-color:blue;
}
.python{
  background-color:'light blue';
}
.css{
  background-color:'lemon chiffon';
}
.coffeescript{
  background-color:brown;
}
.jsx{
  background-color:purple;
}
.php{
  background-color:maroon;
}
.sass{
  background-color:pink;
}
.vue{
  background-color:teal;
}
